<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} My Chat {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    {% comment %}
    <script src="{% static 'js/streams.js' %}"></script>
    {% endcomment %}
  </head>
  <body>
    <main class="h-[100hz]">{% block content %} {% endblock %}</main>
  </body>
</html>
